{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo">
    {% if site_logo %}
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    {% endif %}
    {% if site_name %}
        <h1 title="{{ 'Home'|t }}" rel="home">{{ site_name }}</h1>
    {% endif %}
    {% if site_slogan %}
      <div class="site-slogan">{{ site_slogan }}</div>
    {% endif %}
  </a>
{% endblock %}
